.container{
    margin: 0 15px;
    display: flex;
    flex-direction: column;
    color: #fff;
}

.form{
    width: 100%;
    display: flex;
    gap: 20px;
}

.form input{
    width: 100%;
    height: 44px;
    border: 0;
    padding: 0px 8px;
    border-radius: 5px;
    outline: none;
}

.form button {
    background: transparent;
}

table {
    border-collapse: separate;
    border-spacing: 0 14px; /*só funciona se border-collapse for separate*/
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed; /*em tabelas c largura 100%, cada coluna terá msm espaço*/
}

.tr{
    background-color: #232323;
}

td:first-child,
th:first-child{
    border-radius: 8px 0 0 8px;
}

td:last-child,
th:last-child{
    border-radius: 0 8px  8px 0;
}

table td,
table th{
    padding: 15px;
    text-align: center;
}

table th{
    transition: 0.3s ease;
}

table th:not(:first-child):hover{
    opacity: 0.6;
    cursor: pointer;
}

.tdLabel,
.tdLoss,
.tdProfit{
    font-size: 18px;
    font-weight: bold;
}

.tdProfit{
    color: #22d752;
}

.tdLoss{
    color: #d72223;
}

.buttonMore{
    background-color: #30beff;
    padding: 8px 24px;
    color: #fff;
    border-radius: 8px;
    margin: 0 auto;
    margin-bottom: 14px;
}

.logo{
    width: 20px;
    height: 20px;
    transition: all 1s;
}

.logo:hover{
    transform: scale(1.5);
}

.name{
    display: flex;
    gap: 8px;
    align-items: center;
}

.loader{
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media screen and (max-width:600px){
    tr{
        display: flex;
        flex-direction: column;
        border-radius: 8px;
        margin-bottom: 14px;
    }

    table{
        position: relative;
    }

    thead tr{
        display: none;
    }

    td, th{
        height: 50px;
    }

    tr td{
        text-align: right;
        border-bottom: 1px solid #fff;
    }

    table td::before{
        content: attr(data-label);
        float: left;
        color: #fff;
        text-transform: uppercase;
    }

    td:first-child,
    th:first-child,
    td:last-child,
    th:last-child{
        border-radius: 0;
    }

    tr td:last-child{
        border-bottom: 0;
    }

    .name img{
        margin-left: 10px;
    }
}